
@*<MudItem sm="5" xs="12" md="5" Class="d-flex justify-center align-center" Style="background-color:#7995be">
    <MudText Style="font-size:40px;font-family:Forte;" Color="Color.Tertiary"><span style="color:white">U</span>Bots</MudText>

</MudItem>*@

