@inherits LayoutComponentBase

<div class="main-layout">
    <div class="navbar">
        <div class="navbar-container">
            <a href="/" class="brand-name">RowadAI</a>
            <div class="nav-items">
                <a href="#About" class="nav-item">About</a>
                <a href="#Services" class="nav-item">Services</a>
                <a href="#Products" class="nav-item">Products</a>
                <a href="#Academy" class="nav-item">Academy</a>
                <a href="#ContactUs" class="nav-item">Contact</a>
            </div>
        </div>
    </div>
    <main class="main-content">
        @Body
    </main>
</div>






