@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/los.png" alt="Trulli" width="140" height="140"  class="Logo">
    <b><i><h1 class=" display-4 text-center " style="font-size:60px"> LineWorks Suite</h1></i></b>
    <p class="Paragraph text-center">Digital transformation for high-tech manufacturing</p>
</div>

<div>
    <img src="~/images/pic1.png" alt="Forest" style="width:80%" class="MainPhoto">
</div>

<div class="ex1">
    <p style="font-size:25px">To ensure that the solution fits your challenges exactly, we support you with our advice
        and more than 30 years of experience in putting together the right module selection.</p>
</div>

<div >
    <img src="~/images/small.png" alt="Forest" style="width:100%">
</div>

<div class="text-center">
    <p>Digital transformation for high-tech manufacturing</p>
</div>
<br />

<div class="row">
    <div class="column">
        <img src="~/images/pic1.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
        <img src="~/images/small.png" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="~/images/Main.png" alt="Forest" style="width:100%">
    </div>
   
</div>


<br />
<br />
<br />
<br />
<br />
<br />


<div>
    <img src="~/images/main.png"  width="100%"/>
</div>


<br />
<br />
<br />
<br />
<br />


<div >
    <video src="@Url.Content("~/video/CamLineVideo.mp4")" controls width="100%" height="350"/>

</div>

<br />

<br />

<br />

<br />
<div class="text-center">
    <h2>Download File</h2>
    <br />
    <br />
@*     <a href="/Home/Form/">Download</a>
 *@    <a asp-controller="Home" asp-action="Form">Download</a>
</div>




<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }



    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .Logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Title {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Paragraph {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    .MainPhoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top :5%;
    }

    .ex1 {
        width: 100%;
        margin-left: 2%;
        margin-top:4%;
    }

</style>