@inherits LayoutComponentBase

<div class="main-layout">
    <div class="navbar">
        <div class="navbar-container">
            <a href="/" class="brand-name">RowadTattwer.AI</a>
            <div class="nav-items">
                <a href="#home" class="nav-item">Home</a>
                <a href="#about" class="nav-item">About Us</a>
                <a href="#services" class="nav-item">Services</a>
                <a href="#news" class="nav-item">News</a>
            </div>
        </div>
    </div>

    <main class="main-content">
        @Body
    </main>
</div>