@page "/n"
@inject IStringLocalizer<Resource> _localizer
<style>
    .fontTitle {
    @font_Title
    }

    .fontContent {
    @font_Content
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .step-wizard1 {
        /* height: 100vh;*/
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .step-wizard-list {
        background: #424242;
        color: #c8cacd;
        list-style-type: none;
        border-radius: 10px;
        display: flex;
        padding: 20px 10px;
        position: relative;
        z-index: 10;
    }

    .step-wizard-item {
        padding: 0 20px;
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        color: #c8cacd;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 170px;
        position: relative;
    }

        .step-wizard-item + .step-wizard-item:after {
            content: "";
            position: absolute;
            left: 0;
            top: 19px;
            background: #4aa47e;
            color: #4aa47e;
            width: 100%;
            height: 2px;
            transform: @transform;
            z-index: -10;
        }

    .progress-count {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 600;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        color: transparent;
    }

        .progress-count:after {
            content: "";
            height: 40px;
            width: 40px;
            background: #4aa47e;
            color: #4aa47e;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -10;
        }

        .progress-count:before {
            content: "";
            height: 10px;
            width: 20px;
            border-left: 3px solid #424242;
            border-bottom: 3px solid #424242;
            position: absolute;
            left: 50%;
            top: 50%;
            color: #c8cacd;
            transform: translate(-50%, -60%) rotate(-45deg);
            transform-origin: center center;
        }

    .progress-label {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }

    .current-item .progress-count:before,
    .current-item ~ .step-wizard-item .progress-count:before {
        display: none;
    }

    .current-item ~ .step-wizard-item .progress-count:after {
        height: 10px;
        width: 10px;
    }

    .current-item ~ .step-wizard-item .progress-label {
        opacity: 0.5;
    }

    .current-item .progress-count:after {
        background: #424242;
        border: 2px solid #4aa47e;
        color: #4aa47e;
    }

    .current-item .progress-count {
        color: #4aa47e;
    }
</style>
    <div class="step-wizard1">
        <ul class="step-wizard-list">
        <li class="step-wizard-item @current1">
            <span  class="progress-count fontContent">1</span>
            <span class="progress-label fontContent">@_localizer["lbl_Confirmation"]</span>
            </li>
        <li class="step-wizard-item @current2">
            <span class="progress-coun fontContentt">2</span>
            <span class="progress-label fontContent">@_localizer["lbl_paymentprocess"]</span>
            </li>
        </ul>
    </div>
@code{
    [Parameter]
    public string current1 { set; get; } = "current-item";
    [Parameter]
    public string current2 { set; get; } 
    [Parameter]
    public string transform { set; get; }
    string selectedCulture = System.Globalization.CultureInfo.CurrentCulture.TextInfo.CultureName;
    string font_Title;
    string font_Content;
    protected override async Task OnInitializedAsync()
    {
        if (selectedCulture.Contains("en")){
            font_Content = "font-family:DROID;";
            font_Title = "font-family:Forte;";
            transform = "translateX(-50%)";
        }
        else if (selectedCulture.Contains("ar"))
        {
            font_Content = "font-family:Noto Kufi Arabic;";
            font_Title = "font-family:Noto Kufi Arabic;";
            transform = "translateX(50%)";
        }
    }
}